@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Helvetica World';
    src: local('Helvetica World Regular'), local('Helvetica-World-Regular'),
      url('HelveticaWorld-Regular.woff2') format('woff2'),
      url('HelveticaWorld-Regular.woff') format('woff'),
      url('HelveticaWorld-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  /* Bold font */
  @font-face {
    font-family: 'Helvetica World';
    src: local('Helvetica World Bold'), local('Helvetica-World-Bold'),
      url('HelveticaWorld-Bold.woff2') format('woff2'),
      url('HelveticaWorld-Bold.woff') format('woff'),
      url('HelveticaWorld-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  

